<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<p>草</p>
			<!-- js用のバリデーション -->
			<div id="name_valid" style="color: red"></div>
			<div id="password_valid" style="color: red"></div>
			<div id="second_password_valid" style="color: red"></div>
			<div id="login_id_valid" style="color: red"></div>

	<form action="/users" th:action="@{/users}" th:object="${form}" method="POST" id="create_user_form">
	<br /><!-- <p class="error" th:text ="${message}" ></p> -->

		<br /><label for="name">お名前</label>
		<input type="text" name="name" th:field="*{name}" id="name" />
		<!--   コントローラーでのバリデーション　<br /><span th:if="${#fields.hasErrors('name')}"th:errors="*{name}"></span>-->

		<br /><br /><label for="rawPassword">パスワード</label>
		<input type="password" name="rawPassword" th:field="*{rawPassword}" id="password" />
		<!-- <br /><span th:if="${#fields.hasErrors('rawPassword')}"th:errors="*{rawPassword}"></span>-->
		 
		 <br /><label for="secondPassword">確認用パスワード</label>
		<input type="password" name="secondPassword" th:field="*{secondPassword}" id="secondPassword"/>
		<!--<br /><span th:if="${#fields.hasErrors('secondPassword')}"th:errors="*{secondPassword}"></span>	-->	
		
		<br /><label for="loginId">ログインID</label>
		<input type="password" name="loginId" th:field="*{loginId}" id="loginId"/>
		<!--<br /><span th:if="${#fields.hasErrors('loginId')}"th:errors="*{loginId}"></span>-->
		
		<br /><label for="branch">支店名</label>
		<select name="branch" >
		<option value="branch" ></option>
		<option th:each="branch : ${branch}" th:value="${branch.id}" th:text="${branch.branch_name}">pulldown</option>
		</select>
		
		<br /><br /><label for="position">役職</label>
		<select name="position">
		<option value="position" ></option>
		<option th:each="position : ${position}" th:value="${position.id}" th:text="${position.position_name}">pulldown</option>
		</select>
		
		<input type="hidden" name="id" th:field="*{id}">		
		<br />
		<br /><input type="submit" value="登録" onclick="return checkName()">
		<a href="./">戻る</a>
	</form>
	<script th:src="@{/js/create.js}"></script>
</body>
</html>