<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>草</p>
	<a th:href="@{/users/create}">新規登録</a>

	<table>
		<tr th:each="user: ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.branch_name}"></td>
			<td th:text="${user.position_name}"></td>
			<td><form action="/users/setting" method="get">
					 <input type=submit value=編集>
					 <input type="hidden"name="id" th:value="${user.id}">
				</form>
		   </td>
		   <td> 
			<form action="users/stop" th:action="@{/users/stop}" method="POST">
            	<input type="hidden" name="id" th:value="${user.id}">
            	<input type="hidden" name="is_delete" th:value="${user.is_delete}">
            	 <div th:unless="${user.is_delete} == 0">
					 <input type="submit" value="復元" onclick="return confirm('復元します。よろしいですか？')">
    	         </div>
    	         <div th:unless="${user.is_delete} == 1">
    	        	 <input type="submit" value="停止" onclick="return confirm('削除します。よろしいですか？')" >
				 </div>
           </form>
          </td>
		</tr>
	</table>
</body>
</html>