


/* body {
            background: #eee;
        }
        form {
            max-width: 200px;
            margin: 40px auto;
            background: white;
            padding: 10px;
        }
        input {
            display: block;
            margin: 10px auto;
            padding: 4px;
        }
        .submit{
            border: none;
            background: crimson;
            color: white;
            padding: 10px;
            font: bold;
        }
        /* inputのborderの色 
        .success {
            border: 2px solid green;
        }

        .error {
            border: 2px solid red;
        }
        /* エラーメッセージの非表示 
        #name-error-message {
            display: none;
        }
        #email-error-message {
            display: none;
        }
        */